/*.active {
  color: #6d0003 !important;
}*/

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-bottom: 80px;


  .link {
    padding-right: 8px;
    margin-right: 8px;
    margin-bottom: 5px;
    letter-spacing: 0.06em;

    .link:hover::after {
        content: "";
        color: #ad995c;
      }


    >*{
      font-size: 22px !important;
      font-weight: bold;
    }

  }
}