.active {
  color: #c27b7f !important;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-bottom: 50px;



  .link {
    padding-right: 8px;
    margin-right: 8px;
    margin-bottom: 5px;

    >*{
      font-size: 22px !important;
      color: #2f4858; ;
    }

  }
}