@import '../../../styles/_partials';
@import '../../../styles/_mixins';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@500;700&display=swap');


.title {
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: 'Philosopher';
  font-weight: bold;
  font-size: 44px;
  text-align: center;
  color: #2f4858;
}

.description {
  font-size: 24px;
  line-height: 1.6rem;
  margin-bottom: 18px;
  color: #2f4858;
  text-align: center;
  font-weight: bold;
}


.slider {
  margin-top: 50px;
  position: relative;
  overflow: hidden;

  @include respond-to(xs, sm){
    margin: 0;
    .cardHolder{
      .left {
        width: 200px;
      }
    }
  }

}

.cardWrapper {
  width: 100%;
  height: 500px;
  margin-bottom: 60px;
}

.cardHolder {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 500px;

  flex: 0 0 auto;
  padding: 0 4px;


  &:hover{
    .right{
      .img{
        transform: scale(1.3);
      }
    }
  }

  .left {
    width: 400px;
    flex: 0 0 auto;
    padding: 24px;

    .cardTitle{
      font-size: 28px;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 16px;
      color: #2f4858;
    }

    .cardDesc{
      font-size: 20px;
      font-weight: lighter;
      font-style: italic;
      margin-bottom: 24px;
      color: #2f4858;
    }

    .button{
      pointer-events: auto;
      cursor: pointer;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #c27b7f;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      text-decoration: none;
      color: white;
      font-weight: bold;
      position: relative;
      transition: all .4s ease;


      &:hover{
        background-color: #876585;
        opacity: 0.9;
      }

    }
  }

  .right {
    overflow: hidden;
    position: relative;
    flex: 1 1 auto;

    .img{
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      transition-duration: 1s;
      background-position: center;
      object-fit: cover;
    }
  }

  @include respond-to(lg, lg) {
    width: 100%;
  }

  @include respond-to(md, md) {
    width: 100%;
  }

  @include respond-to(sm, sm) {
    width: 100%;
  }

  @include respond-to(xs, xs) {
    width: 100%;
  }
}
