.slider {
  position: relative;
  overflow: hidden;
}

.cardWrapper {
  width: 100%;
  height: 500px;
}

.cardHolder {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 500px;

  &:hover{
    .right{
      .img{
        transform: scale(1.3);
      }
    }
  }

  .left {
    width: 400px;
    flex: 0 0 auto;
    padding: 24px;

    .cardTitle{
      font-size: 20px;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 16px;
      color: #2f4858;
    }

    .cardDesc{
      font-size: 14px;
      font-weight: lighter;
      font-style: italic;
      opacity: 0.6;
      margin-bottom: 24px;
      color: #2f4858;
    }

    .button{
      pointer-events: auto;
      cursor: pointer;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #c27b7f;
      opacity: 0.9;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      text-decoration: none;
      color: white;
      font-weight: bold;
      position: relative;
    }
  }

  .right {
    overflow: hidden;
    position: relative;
    flex: 1 1 auto;

    .img{
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      transition-duration: 1s;
      background-position: center;
      object-fit: cover;
    }
  }
}
