@import '../../../styles/_partials';
@import '../../../styles/_mixins';

.wrapper{
  margin: 0 -8px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  @include respond-to(xs, sm){
    margin: 0;
  }
}

.cardHolder{
  flex: 0 0 auto;
  padding: 0 4px;

  @include respond-to(lg, lg) {
    width: 25%;
  }

  @include respond-to(md, md) {
    width: 33.33%;
  }

  @include respond-to(sm, sm) {
    width: 50%;
  }

  @include respond-to(xs, xs) {
    width: 100%;
  }
}