@import '../../../../styles/_partials';
@import '../../../../styles/_mixins';

.card {
  width: 100%;
  overflow: hidden;
  margin-bottom: 58px;


  &.material {
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0 1px 3px 0px rgba(0,0,0,0.12);
    overflow: hidden;
    background-color: $second-color;
    min-width: 275px;

    .text{
      padding: 16px;
    }

    .title{
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.334;
      letter-spacing: 0;
    }

    .desc{
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.43;
      letter-spacing: 0.01071em;
    }

    .button{
      display: inline-flex;
      opacity: 0.85;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      outline: 0;
      border: 0;
      margin: 0;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      appearance: none;
      text-decoration: none;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.75;
      letter-spacing: 0.02857em;
      text-transform: uppercase;
      min-width: 64px;
      padding: 6px 16px;
      border-radius: 4px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

      &:hover{
        opacity: 1;
        text-decoration: none;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
      }
    }
  }

  &.shadow {
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -16px;
    background-color: #f8f3ed;

    .img{
      transition-duration: 900ms;
      background-position: center;
      background-size: cover;
      transform: scale(1);
      transition-timing-function: ease-out;

      &:hover{
        transform: scale(1.2);
      }
    }

    .text{
      padding: 24px;
    }

    .title{
      font-size: 1.6rem;
      letter-spacing: 0.06em;
      margin-bottom: 18px;
    }

    .desc{
      font-size: 1rem;
      line-height: 1.6rem;
      margin-bottom: 18px;
    }

    .buttonWrap{
      width: fit-content;
      position: relative;

      &:hover{
        .arrow{
          left: 100%;
          opacity: 1;
        }
      }

      .arrow{
        position: absolute;
        left: 80%;
        top: 2px;
        width: 25px;
        opacity: 0;
        transition-duration: 500ms;
        transition-timing-function: ease-out;
      }

      .button{
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-decoration: none;
      }
    }
  }
  &.sticker{
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem;
    background: #f8f3e8;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 3px;


    .img {
        transition-duration: 900ms;
        background-position: center;
        background-size: cover;
        transform: scale(1);
        transition-timing-function: ease-out;

      &:hover{
        transform: scale(1.2);
      }
    }

    .desc {
      font-size: 25px;
      text-align: center;
      margin-bottom: 14px;
    }

    .title {
      margin-bottom: 30px;
      margin-top: 1rem;
      font-weight: normal;
      font-size: 35px;
      text-align: center;
    }

    .buttonWrap{
      width: fit-content;
      position: relative;

      &:hover{
        .arrow{
          left: 100%;
          opacity: 1;
        }
      }

      .arrow{
        position: absolute;
        left: 80%;
        top: 2px;
        width: 25px;
        opacity: 0;
        transition-duration: 500ms;
        transition-timing-function: ease-out;
      }

      .button{
        font-size: 25px;
        line-height: 1.6rem;
        text-decoration: none;
      }
    }
  }

  &.gradient {
    height: fit-content;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: linear-gradient(rgb(122, 62, 19), rgb(241, 226, 197));
    border-radius: 12px;
    padding: 18px;
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;

    .img {
      background-position: center;
      background-size: cover;
      width: 100%;
      border-radius: 12px;

    }

    .title {
      letter-spacing: 0.06em;
      margin-bottom: 10px;
      font-size: 1.4rem;
      margin-top: 24px;
    }

    .desc {
      font-size: 1rem;
      line-height: 1.6rem;
      margin-bottom: 38px;
    }

    .buttonWrap {
      margin-top: 18px;
      margin-bottom: 15px;
    }

    .button {
      pointer-events: auto;
      cursor: pointer;
      align-items: center;
      padding: 12px 24px;
      border-radius: 24px;
      font-size: 12px;
      text-decoration: none;
      letter-spacing: 2px;
      opacity: 0.85;
      transition: all .3s ease;

      &:hover{
        opacity: 1;
      }
    }

  }

}

.imgWrap{
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  background-size: cover;
}